<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BlazoriseMyGet" value="https://www.myget.org/F/blazorise/api/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/d4ffdf77-0fb0-43f2-8cbd-d84d9a529c41/v3/index.json" />
  </packageSources>
</configuration>